In [1]:
import pandas as pd
import numpy as np

In [2]:
ballbyball = pd.read_csv('../data/ball_by_ball_ipl.csv')
match = pd.read_csv('../data/matches.csv')
deliveries = pd.read_csv("../data/deliveries.csv")

In [3]:
ballbyball.head()

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,0,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,1,RD Gaikwad,...,Chennai Super Kings,0,4,0,1,0,NaN,NaN,4,1
1,1,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,2,RD Gaikwad,...,Chennai Super Kings,0,4,0,2,0,NaN,NaN,0,1
2,2,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,3,RD Gaikwad,...,Chennai Super Kings,0,4,0,3,0,NaN,NaN,0,1
3,3,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,4,RD Gaikwad,...,Chennai Super Kings,0,4,0,4,0,NaN,NaN,0,1
4,4,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,5,RD Gaikwad,...,Chennai Super Kings,0,5,0,5,0,NaN,NaN,1,1

In [4]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [5]:
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [6]:
match.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [7]:
ballbyball.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')

In [8]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [9]:
deliveries.count()

match_id            260920
inning              260920
batting_team        260920
bowling_team        260920
over                260920
ball                260920
batter              260920
bowler              260920
non_striker         260920
batsman_runs        260920
extra_runs          260920
total_runs          260920
extras_type          14125
is_wicket           260920
player_dismissed     12950
dismissal_kind       12950
fielder               9354
dtype: int64

In [10]:
deliveries['batter'].nunique()

673

In [11]:
deliveries.groupby('batter')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batter
V Kohli           8014
S Dhawan          6769
RG Sharma         6630
DA Warner         6567
SK Raina          5536
MS Dhoni          5243
AB de Villiers    5181
CH Gayle          4997
RV Uthappa        4954
KD Karthik        4843
Name: batsman_runs, dtype: int64

In [12]:
deliveries[deliveries['is_wicket'] == 1].groupby('bowler').size().sort_values(ascending=False).head(10)

bowler
YS Chahal     213
DJ Bravo      207
PP Chawla     201
SP Narine     200
R Ashwin      198
B Kumar       195
SL Malinga    188
A Mishra      183
JJ Bumrah     182
RA Jadeja     169
dtype: int64

In [13]:
batting = deliveries.groupby("batter").agg(
    matches=("match_id", "nunique"),
    runs=("batsman_runs", "sum"),
    balls=("ball", "count")
).reset_index()

In [14]:
batting["strike_rate"] = (batting["runs"] / batting["balls"]) * 100

In [15]:
batting.rename(columns={"batter": "player"}, inplace=True)

In [16]:
bowling = deliveries.groupby("bowler").agg(
    wickets=("is_wicket", "sum"),
    balls_bowled=("ball", "count"),
    runs_conceded=("total_runs", "sum")
).reset_index()

bowling["economy"] = (bowling["runs_conceded"] / bowling["balls_bowled"]) * 6
bowling.rename(columns={"bowler": "player"}, inplace=True)

In [17]:
player_df = pd.merge(
    batting,
    bowling,
    on="player",
    how="outer"
)

In [18]:
player_df.fillna(0, inplace=True)

In [19]:
recent = (
    deliveries.sort_values("match_id")
    .groupby("batter")
    .tail(300)  # approx last 5 matches
)

recent_form = recent.groupby("batter")["batsman_runs"].mean().reset_index()
recent_form.rename(columns={"batter": "player", "batsman_runs": "recent_form"}, inplace=True)

player_df = player_df.merge(recent_form, on="player", how="left")
player_df["recent_form"].fillna(0, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_11648\2569915209.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  player_df["recent_form"].fillna(0, inplace=True)

In [20]:
player_df.sort_values("runs", ascending=False).head(10)
player_df.sort_values("wickets", ascending=False).head(10)

,player,matches,runs,balls,strike_rate,wickets,balls_bowled,runs_conceded,economy,recent_form
722,YS Chahal,17.0,37.0,89.0,41.573034,213.0,3628.0,4681.0,7.741455,0.415730
165,DJ Bravo,110.0,1560.0,1247.0,125.100241,207.0,3296.0,4436.0,8.075243,1.316667
479,PP Chawla,86.0,624.0,580.0,107.586207,201.0,3895.0,5179.0,7.977920,1.056667
611,SP Narine,106.0,1534.0,984.0,155.894309,200.0,4146.0,4672.0,6.761216,1.650000
490,R Ashwin,89.0,800.0,698.0,114.613181,198.0,4679.0,5435.0,6.969438,1.233333
99,B Kumar,65.0,306.0,338.0,90.532544,195.0,4060.0,5051.0,7.464532,0.890000
598,SL Malinga,20.0,88.0,103.0,85.436893,188.0,2974.0,3486.0,7.032952,0.854369
10,A Mishra,55.0,381.0,440.0,86.590909,183.0,3444.0,4193.0,7.304878,0.820000
268,JJ Bumrah,26.0,68.0,80.0,85.000000,182.0,3185.0,3840.0,7.233909,0.850000
511,RA Jadeja,180.0,2959.0,2378.0,124.432296,169.0,3895.0,4917.0,7.574326,1.416667

In [21]:
player_df.to_csv("player_features.csv", index=False)

In [22]:
player_df.shape

(732, 10)

In [23]:
player_df.isnull().sum()

player           0
matches          0
runs             0
balls            0
strike_rate      0
wickets          0
balls_bowled     0
runs_conceded    0
economy          0
recent_form      0
dtype: int64

In [24]:
player_df.describe()

,matches,runs,balls,strike_rate,wickets,balls_bowled,runs_conceded,economy,recent_form
count,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000
mean,22.561475,450.907104,356.448087,94.691984,17.691257,356.448087,475.076503,6.436099,0.944872
std,38.327808,1007.079117,773.642488,46.815672,34.846904,676.831466,868.675038,4.505693,0.470965
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,9.000000,12.000000,69.481605,0.000000,0.000000,0.000000,0.000000,0.694816
50%,7.000000,53.000000,58.000000,105.042042,3.000000,67.000000,97.500000,7.864513,1.024982
75%,22.000000,306.250000,262.500000,126.240878,16.000000,342.750000,464.500000,8.912957,1.262168
max,251.000000,8014.000000,6236.000000,300.000000,213.000000,4679.000000,5435.000000,36.000000,3.000000

In [25]:
player_df.corr(numeric_only=True)

,matches,runs,balls,strike_rate,wickets,balls_bowled,runs_conceded,economy,recent_form
matches,1.000000,0.956333,0.958339,0.356251,0.204223,0.229897,0.224393,-0.106053,0.361292
runs,0.956333,1.000000,0.996702,0.323686,0.020374,0.038926,0.035181,-0.121933,0.333255
balls,0.958339,0.996702,1.000000,0.313470,0.023950,0.043719,0.039545,-0.126396,0.322085
strike_rate,0.356251,0.323686,0.313470,1.000000,0.049101,0.056065,0.055444,-0.172608,0.993841
wickets,0.204223,0.020374,0.023950,0.049101,1.000000,0.985128,0.985884,0.175623,0.042851
balls_bowled,0.229897,0.038926,0.043719,0.056065,0.985128,1.000000,0.996082,0.182675,0.049186
runs_conceded,0.224393,0.035181,0.039545,0.055444,0.985884,0.996082,1.000000,0.199906,0.048539
economy,-0.106053,-0.121933,-0.126396,-0.172608,0.175623,0.182675,0.199906,1.000000,-0.171757
recent_form,0.361292,0.333255,0.322085,0.993841,0.042851,0.049186,0.048539,-0.171757,1.000000

In [26]:
player_df[player_df['player'] == 'V Kohli']

,player,matches,runs,balls,strike_rate,wickets,balls_bowled,runs_conceded,economy,recent_form
689,V Kohli,244.0,8014.0,6236.0,128.511867,5.0,264.0,371.0,8.431818,1.556667

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
scaler = MinMaxScaler()

In [29]:
scale_cols = [
    'runs',
    'strike_rate',
    'wickets',
    'recent_form',
    'economy'
]

In [30]:
player_df[scale_cols] = scaler.fit_transform(player_df[scale_cols])

In [31]:
player_df['performance_score'] = (
    0.35 * player_df['runs'] +
    0.25 * player_df['strike_rate'] +
    0.25 * player_df['wickets'] -
    0.10 * player_df['economy'] +
    0.05 * player_df['recent_form']
)

In [32]:
player_df.sort_values('performance_score', ascending=False)[
    ['player', 'performance_score']
].head(15)

             player  performance_score
689         V Kohli           0.465484
611       SP Narine           0.440368
511       RA Jadeja           0.433852
519       RG Sharma           0.416482
165        DJ Bravo           0.414852
158       DA Warner           0.405718
614       SR Watson           0.405402
557        S Dhawan           0.399877
41       AD Russell           0.391458
595        SK Raina           0.387689
32   AB de Villiers           0.374645
490        R Ashwin           0.364040
404        MS Dhoni           0.363843
132        CH Gayle           0.359036
298      KA Pollard           0.358661

In [33]:
player_df.to_csv("player_features_with_score.csv", index=False)

In [34]:
df = pd.read_csv("player_features_with_score.csv")

In [35]:
X = df.drop(['player', 'performance_score'], axis=1)
y = df['performance_score']

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [37]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [38]:
from sklearn.metrics import mean_squared_error

preds = model.predict(X_test)
mse = mean_squared_error(y_test, preds)

print("MSE:", mse)

MSE: 0.00022482069381024575

In [39]:
import pandas as pd

importance = pd.Series(
    model.feature_importances_,
    index=X.columns
).sort_values(ascending=False)

print(importance)

matches          0.565366
strike_rate      0.156868
recent_form      0.152905
wickets          0.035551
runs_conceded    0.026542
runs             0.026419
balls_bowled     0.017166
economy          0.013548
balls            0.005634
dtype: float64

In [40]:
df['predicted_score'] = model.predict(X)

In [41]:
ranked_players = df.sort_values(
    'predicted_score', ascending=False
)

In [42]:
def classify_role(row):
    if row['wickets'] > 0.3 and row['runs'] > 0.3:
        return 'all_rounder'
    elif row['wickets'] > 0.3:
        return 'bowler'
    else:
        return 'batter'

In [43]:
ranked_players['role'] = ranked_players.apply(classify_role, axis=1)

In [44]:
batters = ranked_players[ranked_players['role'] == 'batter'].head(4)
all_rounders = ranked_players[ranked_players['role'] == 'all_rounder'].head(3)
bowlers = ranked_players[ranked_players['role'] == 'bowler'].head(4)

playing_xi = pd.concat([batters, all_rounders, bowlers]).head(11)

In [45]:
playing_xi[['player', 'role', 'predicted_score']]

         player         role  predicted_score
689     V Kohli       batter         0.439278
519   RG Sharma       batter         0.409269
557    S Dhawan       batter         0.391153
595    SK Raina       batter         0.383804
511   RA Jadeja  all_rounder         0.398035
614   SR Watson  all_rounder         0.380952
298  KA Pollard  all_rounder         0.351155
611   SP Narine       bowler         0.401797
165    DJ Bravo       bowler         0.366158
60     AR Patel       bowler         0.358723
490    R Ashwin       bowler         0.353280